# Dependencies
node_modules/
MockTests/node_modules/

# Next.js build output
.next/
MockTests/.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Env files
.env
.env.local
MockTests/.env
MockTests/.env.local
