# Legacy folders
legacy/

# Dependencies
node_modules/
legacy/StudentHub_Frontend/node_modules/

# Next.js build output
.next/
legacy/StudentHub_Frontend/dist/
legacy/StudentHUb_Backend/static/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Env files
.env
.env.local
legacy/StudentHUb_Backend/.env
legacy/StudentHub_Frontend/.env
